.larger-text {
  font-size: 32px;
}
div {
  border: 1px;
  border-style: dotted;
  padding: 10px;
}

.container-parent {
  width: 95%;
  background: silver;
  display: flex;
  align-items: stretch;
}
.item-parent {
  min-width: 200px;
  flex-grow: 2;
}
.container {
  flex-grow: 1;
  background: green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items {
  height: 100px;
  min-width: 200px;
  flex-grow: 1;
}

.item-3 {
}
